.login {
 justify-content: center;
 place-items: center;
width: 400px;
 min-height: 500px;
display: flex;
flex-direction: column;
border-radius:19px;
background-image: linear-gradient(to bottom right, #ffce00,#fe4880);
margin-top: 50px;
position: relative;
top: -5px;
left: -5px;
right: -5px;
bottom: -5px;
z-index: -1;
margin-bottom: 50px;
overflow : hidden;
  }
 .login >form> Button {
    margin-left: 170px;
      padding: 10px 20px ;
      border-radius: 8px;
      background-size: 200%;
      background-position: 0%;
      transition: 0.4s;
      color:#fff;
      font-weight: 700;
      background-image: linear-gradient(to right, #ffce00 , #fe488f );
  }
  .login >form> Button:hover{
      background-color: aquamarine;
  }
  
  .login>form > div > img {
    object-fit: contain;
    height: 160px;
    justify-content: center;
    
    width: 270px;
  }
   button[type="submit"]:hover {
  
    background-position: 100% 0%;
  }
  
  
   h2 {
     
    font-size: 40px;
    color: rgb(16, 2, 44);
    text-shadow: 0 0  10px  rgb(186, 116, 243);
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding-bottom: 20px;
    font-style: italic;
  }
  
 

   
   form{
       display: block;
       position: relative;
   }
  .login> form  {
       position: relative;
       display: block;
       border-radius: 9px;
       height: 470px;
       width: 280px;
       background-color: #fff;
       padding: 30px;
       z-index: -1;
   }
   form >form-group{
       display: block;
       width: 300px;
       margin-bottom: 15px;
   }
    .form-group label{
       display: block;
       color: #665;
       font-size: 22px;
       margin-bottom: 5px;
       margin-left: 2px;
       
   }
  
  form  >.form-group input{
      display: block;
      width: 100%;
      padding: 10px 5px;
      background-color: #f8ddee;
      border-radius: 8px;
     
      box-shadow: 0 0  10px  rgb(32, 3, 56);;
    
  }
  
h5 {
    padding-top: 3px;
    padding-bottom: 10px;
    margin-left: 2px;
      text-align: left;
      color: rgb(56, 5, 66);
  }

  h4 {
    padding-top: 3px;
    padding-bottom: 10px;
    margin-left: 2px;
      text-align: center;
      margin-left: 5px;
      color: rgb(66, 30, 1);
  }