.header {
    position: sticky;
    top:0;
    background-color:var(--circle-color);
   
z-index: 100;
border: 2px solid var(--circle-background);
box-shadow: 0px 10px 27px -7px rgba(0, 0, 0, 0.75);
border-bottom: 5px solid wheat;

font-weight: 800;
font-size: 20px;

    box-shadow: 0px 5px 8px -9px rgba(0, 0, 0, 0.75);
  }
  .header >form {
    display: flex;
    flex-direction: column;
}
  .header__logo {
      border-radius: 100%;
      
    width: 50px;
    object-fit: contain;
    margin-left: 50px;
    margin-bottom: 5px;
    margin-top: 5px;
  }
  